main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
}

.overlay-text {
  display: none;
}

.image-container:hover .overlay-text {
  display: block;
}